.main_content h1 {
    font-size: 70px;
    line-height: 84px;
    font-style: normal;
    font-weight: 700;
    color: #274C5B;
    width: 550px;
    margin-top: 14px;
    margin-bottom: 30px 
}    

