.product__img:first-child{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.product_img.ant-image-img {
    width: 160px;
    border: 1px solid grey;
}

.product_img.ant-image-img:not(:last-child){
    margin-right: 10px;
}

.product_img_table{
    display: grid;
    grid-template-columns: auto auto;
}

.product__table{
    margin-left: 70px;
    max-width: 500px;
}

.product__category{
    padding-top: 20px;
    font-size: 18px;
}

.product_btn_back{
    margin-right: 20px;
}

.product_btn_back,
.product_btn_add{
    font-size: 18px;
    height: 55px;
    padding: 0 20px;
    border: 1px solid #707B7C;
    background: #FFD750;
    color: #000;
    border-radius: 20px;
    margin-top: 10px;
}

.product_description_price{
    font-size: 50px;
    font-weight: bold;
    margin: 35px 0;
}

@media(max-width: 1153px){
    .product_img_table{
        display: grid;
        grid-template-columns: 1fr;
    }

    .product__img{
        margin: 0 auto;
    }

    .products_img{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .product__table{
        margin: 0 auto;
    }

    .buttons_block{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product_btn_back{
        margin-right: 10px;
    }
}

@media(max-width: 626px){
    .product__img{
        max-width: 300px;
    }

    .product_img.ant-image-img{
        width: 100px;
    }

    .description_item{
        max-width: 325px;
    }

    .buttons_block{
        grid-template-columns: 1fr;
    }
}