.footer__wrapper{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer__catalog__items,
.footer__infoForBuyer__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__catalog__items .menu__item {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
}

.footer__infoForBuyer__items {
    list-style: none;
}

.infoForBuyer__item {
    font-size: 18px;
}

.footer__contacts__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    font-size: 18px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 768px){
    .footer__catalog__items .menu__item,
    .infoForBuyer__item,
    .footer__contacts__item {
        font-size: 16px;
    }

    .footer__contacts__item svg,
    .footer__messagers__info .messager__viber svg,
    .footer__messagers__info .messager__telegram svg,
    .footer__messagers__info .messager__whatsapp svg,
    .footer__messagers__info .messager__discord svg{
        width: 25px;
        height: 25px;
    }

    .footer__social {
        gap: 10px;
    }
}

@media (max-width: 425px){
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }

    .footer__catalog__items,
    .footer__infoForBuyer__items {
        width: 100%;
    } 

    .footer__contacts__item svg,
    .footer__messagers__info .messager__viber svg,
    .footer__messagers__info .messager__telegram svg,
    .footer__messagers__info .messager__whatsapp svg {
        width: 25px;
        height: 25px;
    }

    .footer__catalog__items .menu__item,
    .infoForBuyer__item,
    .footer__contacts__item {
        font-size: 14px;
    }

    .footer__title {
        font-size: 18px;
    }
}