.total_price {
    font-size: 32px;
    font-weight: bold;
}

.checkout{
    font-size: 18px;
    padding: 5px;
    border: 1px solid transparent;
    background: #008BFF;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

.checkout:hover{
    background: #00AEFF;
}