.cart__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart__item:not(:last-child){
    margin-bottom: 20px;
}

.cart__item__img {
    width: 150px;
}

.cart__item__btn {
    font-size: 15px;
    padding: 4px;
    border: 1px solid transparent;
    background: #008BFF;
    color: #fff;
    border-radius: 7px;
}

.cart__item__btn:hover{
    background: #00AEFF;
}

.cart__item__sum {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.cart__item__description{
    font-size: 22px;
    max-width: 500px;
}