.promo__carousel__item {
    height: 600px;
    width: auto;
}

.slick-dots li{
    color: #172542;
}

.promo__item__info {
    align-items: center;
    cursor: pointer;
}
 
.promocode__miscellaneous {
    background-image: url("../../../../common/components/images/rabbit.png");
    background-size: cover;
}

.promocode__shoes{
    background-image: url("../../../../common/components/images/spring.png");
    background-size: cover;
}

.promocode__shoes>.promocode__info>.promocode,
.promocode__shoes>.promocode__info>.promocode_discount{
    color: #fff;
}

.promocode__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 200px;
    align-items: center;
}

.promocode {
    font-size: 50px;
    text-align: center;
    color: #172542;
}

.promocode_discount{
    color: #172542;
}

.promocode_discount svg {
    font-size: 12px;
}

.promocode__info span{
    font-size: 22px;
    font-weight: bold;
}